// #region 🔸🔸🔸🔸 HERO

.hero{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom:60px;

    @media screen and (min-width:770px) {
        grid-template-columns: repeat(3, 1fr);
        height:580px;
    }
}
.hero-news{
    position: relative;
    & img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    & a{
        color: #FFF;
    }
    & .date{
        font-size: 1.2rem;
    }
}
.hero-news-one{
    position: absolute;
    top:10%;
    left:10%;
}
.hero-news::before{
        content:"";
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        position: absolute;
        background-color: rgba(0, 0, 0, .5);
    }
// #endregion

S
// #region 🔸🔸🔸🔸 MAIN-CONTENT
.main-content{
    display: relative;

    & h2{
        text-wrap: pretty;
    }
}
.main-section-top{
    display: grid;

    @media screen and (min-width:990px) {
        grid-template-columns: 74% 1fr;
        gap:2rem;
    }
}
.main-section-left{
    font-size: 1.1rem;
    
    .article-bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin:20px 0px 50px 0px;
    }
}

.main-section-front img{
        margin:30px 0px;
    }

.section-title{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom:30px;
}

.article-horiz{
    display: grid;
    grid-template-columns: 30% 1fr;
    gap:2rem;
    margin:30px 0px;
    
    & h2{
        font-size: 1.8rem;
    }
    & p{
        font-size: 0.9rem;
        font-weight: normal;
        line-height: 1.6;
    }

}

.breaking-news{
    position: relative;
    margin-bottom:30px;

    & img{
        height: 250px;
        width: 100%;
        object-fit: cover;
    }
    & .tag__smaller{
        position: absolute;
        width:100%;
        height:fit-content;
        padding-bottom:2px;
        background-color: rgba(0, 0, 0, .5);
    }
    & .breaking-title{
        position: absolute;
        color:#FFF;
        bottom:10%;
        left:10%;
        line-height: normal;
    }
}

.breaking-news:before{
        content:"";
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        position: absolute;
        background: linear-gradient(0deg,rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 58%);
    }


.dontmiss{
    h3{
        font-size: 1rem;
    }
}


.news-grid{
    display: grid;
    grid-template-columns: 30% 1fr 1fr 30%;
    gap: 2rem;
}

.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:2rem 2rem;
}
.gallery-vid{
    position: relative;
}

.play{
    width:20px;
    filter:invert(100%);
    position: absolute;
    top:35%;
    left:48%;
    cursor: pointer;
}
// #endregion