// header
// footer
// page : home - about-us - contact
// couleurs 
// rouge : #ff0303 ; 
// noir rgba(0, 0, 0, 0.75); 
// gris #EFEFEF ; 
// titres : #3a3a3a; 
// texte :#9f9f9f
// background-txt : #FFF;
// border : #e4e4e4


// FONT
// roboto
// titre articles, footer (sauf copyright) : PT serif
// font-family: "PT Serif", serif;
// font-family: "Roboto", sans-serif;

html{
    font-family: "Roboto", sans-serif;
    color: #9f9f9f;
    font-weight:300;
}


h1, h2, h3, h4{
    font-family: "PT Serif", serif;
    color: #3a3a3a;
}
h2{
    font-size: 2.8rem;
    font-weight: normal;
    padding: 10px 0px;
}
a{
    text-decoration: none;
    color: #3a3a3a;   
}
.serif{
    font-family: "PT Serif", serif;
}
.s-serif{
    font-family: "Roboto", sans-serif;
}

.link{
    transition: .3s all linear;
    text-transform: uppercase;
    font-weight: bold;
}
.link:hover{
    color:#ff0303;
}

.underlined{
    border-bottom: 1px solid #e4e4e4;
}
.visiting{
    color:#ff0303;
}
.date{
    font-style: italic;
    
    & a{
        color:#9f9f9f;
    }
}
.wrapper{
    max-width: 1140px;
    margin:auto;
    padding:0px 20px;

    @media screen and (min-width:570px) {
        padding:0px 80px;
    }
    @media screen and (min-width:770px) {

    }
    @media screen and (min-width:990px) {
        padding:0px;
    }

}
.tag a{
    background-color: #ff0303;
    text-transform: uppercase;
    padding:5px;
    color:#FFFFFF;
    font-size: .8rem;
}
.socials{
    display: flex;
    align-items: center;

    & img{
        width:75%;
        padding-right:5px;
        filter: saturate(0%) brightness(180%);
    }
    & img:hover{
        filter: unset;
    }
}

.btn{
    border: 1px solid #000;
    text-transform: uppercase;
    padding:15px 20px;
    transition: .3s all linear;
    &:hover{
        color:#ff0303;
        border-color: #ff0303;
    }
}

.comments{
    font-weight: bold;
    font-size: .75rem;
    color: #3a3a3a;
    text-transform: uppercase;
    margin: 10px 0px;
}